.waterfallText {
	background:none;
	position: relative;
	display:inline-block;
	color:#fff;
	transform:scale(1);
	animation:bounce_waterfallText normal infinite 4000ms;
}
@keyframes bounce_waterfallText {
	0%{
		color:rgb(250,250,250);
  }
  12% {
    color:rgba(250,250,250,0.9);
  }
  48% {
    color:rgba(250,250,250,0.6);
  }
  90% {
    color:rgba(250,250,250,0.25)
  }
	98%{
		color:rgba(250,250,250,0.1);
	}
}