::-webkit-scrollbar {     
  background-color: #efefef;
  width: 2px;
  height:4px;
}
::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  rgba(51,51,51,0.98);
}
body {
  margin: 0 auto;
  color:#333;
  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 2px rgba(50,50,50,0.2);
}
.App {overflow: hidden;}
.main {
  margin:0 auto;
}
ul {margin:0px;padding:0px;list-style: none;}
ul li {list-style: none;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  color:#fff;
  position: relative;
  background:#333;
  z-index: 3;
}
#panel-2 h1 {
  text-align: center;
  font-size:36px;
  margin: 0px;
  padding:20px 0px;
  max-width:900px;
  width: 100%;
}
.tool-box:active {
  background:#f0f0f0;
}
.tool-box label, .form label, .tool-bar {
  display:block;
  padding:11px 18px;
  text-align: left;
  position: relative;
}
.tool-bar {z-index:2;position: relative;padding:4px 18px;}
.form label {
  border-top:0px;
  font-weight:bold;
}
.tool-box label {cursor: pointer;}
.table-key {
  padding: 13.5px 0px;
  border-top: 1px solid #333;
  border-bottom: 2px solid #333;
  position: relative;
  z-index: 1;
  display: flex;
}
.button {
  cursor: pointer;
  background:#f3f3f3;
}
ul.table-key li {
  text-align: center;
  width:20%;
}
#panel-1, #panel-2 {
  display:inline-block;
  vertical-align: top;
  width:100%;
}
#panel-1 {
  border-right:1px solid #333;
}
#panel-2 { 
  max-width:900px;
  margin:0 auto;
}
ul.form {
  text-align:center;
}
ul.form form {
  padding:0px 15px;
  text-align:left;
}
.form h2 {
  font-weight:normal;
  font-size:16px;
  padding:2px 15px;
  margin:0px;
  margin-bottom:10px;
  font-style:italic;
  text-align: left;
}
.form .input-wrap {
  display: block;
  padding: 11px 15px;
}
.form #base-padding {
  text-align: left;
}
.form #base-padding select {margin-left:5px;}
.tools {position:relative;}
.tools .button {text-align: center;}
.gene {
  font-family:'Roboto Mono';
  line-height: 1.37
}
.loading {
  position:absolute;
  width:100%;
  height:100%;
  text-align: center;
  background:rgba(50,50,50,0.6);
  z-index:9999;
}
.loading h1 {
  text-align: center;
  font-size:36px;
  margin: 0px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color:#fff;
}
.form .targets {
  text-align: left;
  overflow-y: scroll;
  height: 100%;
}
.single-target {
  padding:25px 0px;
  display:block;
  text-align: left;
  border-bottom:2px solid #333;
  box-shadow: 1px 2px 0px -1px rgba(50,50,50,0.4);
  cursor:pointer;
}
.single-target ul li {
  display:inline-block;
  width:50%;
  text-align: left;
}
.form-wrap {
  overflow: hidden;
}
.target-wrapper {
  padding:0px 15px;
}
.target-wrapper > div {
  padding:11px 0px;
}
.primers,.target-list {
  height: 100%;
  overflow-y: scroll;
}
#gene-name {

}
.tool-menu {
  position:absolute;
  top:34px;
  width:100%;
  background:#333;
  z-index: 100;
  max-width:274px;
}
ul.tool-menu li .button {
  cursor: pointer;
  padding: 8px 12px 10px;
  text-align: left;
  display: block;
  background:#333;
}
ul.tool-menu li .button:hover {
  background:#f0f0f0;
  color:#333;
}
ul.tool-menu li .button:active {
  cursor: pointer;
  padding:12px;
  background: #f0f0f0;
}
.menu-button:hover {
  text-decoration: underline;
}
.download-section .button:active {
  background:#dfdfdf;
}
.tool-menu li:hover,.tool-menu li:hover a {
  text-decoration: underline;
  text-decoration-color:#333;
}
.tool-menu a {
  color:#fff;
  text-decoration: none;
}
.download-section .button:hover label,.download-section .button:hover label a {
  text-decoration: underline;
}
.download-section .button {
  width: 80%;
  display: inline-block;
  border-radius: 4px;
  margin: 10px auto;
  padding: 11px;
  background:#efefef;
}
.disabled {
  pointer-events: none;
}
.button.disabled {
  color:#c7c7c7;
}
.download-section form {
  padding: 10px 15px;
}
#panel-2 .info-box {
  display: block;
  max-width: 330px;
  margin: 0px auto;
  line-height:1.4;
}
#panel-2 .info-box > div {
  margin-top:10px;
}
#panel-2 .pam-box {
  height:100%;
  overflow: auto;
}
.panels {
  display:flex;
}